html, body {
  font-family: sans-serif;
  height:100%;
}

.ag {
  background-color: #ffff64;
}

.container {
  width:500px;
  margin:50px;
}

.annotation-genius span:hover {
  cursor: pointer;
  background-color: lightblue;
  color: white;
}

#annotation-sidebar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  color: #222;
  line-height: 1.45;
  background-color: #f5f5f5;
  color: #181818;
  border-left: 5px solid #b2d7fe;
  padding: 20px;
}

.annotation-closed {
  right: -125% !important;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

span.original {
  height: 25px;
  padding-left: 30px;
}

span.original::before {
  content: "\201C";
  position: absolute;
  /* top: -.1em; */
  left: .3em;
  font: 700 2.25em/1 "Times New Roman";
  color: inherit;
  opacity: .75;
}

span.annotation {
  margin-top: 50px;
}

#annotation_sidebar_arrow {
  z-index: -1;
  background-color: white;
  width: 15px;
  height: 20px;
}

#annotation_sidebar_arrow svg path{
  fill: #b2d7fe;
}
